{% extends 'elements/document.html' %}
{% load staticfiles %}
{% block preview_extra_headers %}
{% if DEBUG %}<style>.selected{border: 2px dotted red;}</style>{% endif %}
{% with CDN='https://code.jquery.com/ui/1.11.1' %}
<link rel="stylesheet" type="text/css" href="{{CDN}}/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{CDN}}/jquery-ui.min.js"></script>
{% endwith %}
<script src="{% static 'admin/js/_djangoAjaxInit.js' %}"></script>
<script src="{% static 'admin/js/libs/esrever/src/esrever.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-core.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-classapplier.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-textrange.js' %}"></script>
<script src="{% static 'admin/js/libs/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'admin/js/libs/tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'admin/js/tinymce_opts.js' %}"></script>
<script>
var rangy, timerID, wrapper;
$(document).ready(function(){
    rangy.init();
    var rangy_opts = {normalize: true, applyToEditableOnly: true};
    wrapper = rangy.createCssClassApplier('selected', rangy_opts);
    tinymce.init(tinymce_opts);
    $('span.highlight_element')
        .css({
            'color': 'dodgerblue',
            'cursor': 'pointer',
            'text-decoration': 'underline'
        })
        .click(function(){
            var flash = $(window.parent.document).find('#'+$(this).data('id'));
            var interval = window.setInterval(function(){
                flash.toggleClass('flash');
            }, 100);
            window.setTimeout(function(){
                window.clearInterval(interval);
            }, 1100);
        });
}).on('mouseup keydown', '*[data-object]', function(){
    if (timerID) window.clearTimeout(timerID);
    timerID = window.setTimeout(function(){
        var sel = rangy.getSelection();
        if (sel.toString().length > 1) {
            wrapper.applyToSelection();
            var selected = $('.selected');
            var selected_text = esrever.reverse(selected.text());
            var component = selected.closest('*[data-object]');
            var component_text = esrever.reverse(component.text().trim());
            if (selected_text != component_text) {
                if (component_text.indexOf(selected_text)) {
                    wrapper.undoToSelection();
                    sel.expand('word', {
                        trim: true
                    });
                } else {
                    var range = sel.getRangeAt(0);
                    range.move('word', -1);
                    range.setEndAfter(selected.parent()[0]);
                    wrapper.undoToSelection();
                    sel.setSingleRange(range);
                }
                wrapper.applyToSelection();
            }
        }
    }, 120);
}).on('mousedown', '*[data-object]', function(){
    $('.selected').each(function(){
        var s = $(this);
        s.replaceWith(s.html());
    });
}).on('focus', '*[data-object]', function(){
    $('#movehandle').remove();
    var self = $(this);
    self.css({position: 'relative', top: 0, left: 0});
    var handle = $('<span id="movehandle" title="Drag"></span>');
    handle.addClass('glyphicon glyphicon-move');
    handle.css({
        position: 'absolute',
        top: '2px',
        left: '2px',
        cursor: 'move',
        'font-size': '24px'
    });
    self.append(handle);
}).on('blur', '*[data-object]', function(){
    $('#movehandle').css('visibility', 'hidden');
});
</script>
<style>
    #format_toolbar {
        position: fixed;
        top: 0; right: 0;
        width: 270px;
    }
    #format_toolbar { opacity: 0.4; }
    #format_toolbar:hover { opacity: 1; }
</style>
{% endblock %}
{% block preview_hidden %}
{% load mptt_tags %}
{% load wysiweb_filters %}
{% recursetree document.elements.all %}
<input type="hidden" value="{{ node.text }}"
    id="{{ node|elemid }}-text">
{% if not node.is_leaf_node %}
{{ children }}
{% endif %}
{% endrecursetree %}
<div id="format_toolbar"></div>
{% endblock %}
