{% extends 'elements/document.html' %}
{% load staticfiles %}
{% block preview_extra_headers %}
{% if DEBUG %}<style>.selected{border: 2px dotted red;}</style>{% endif %}
{% with CDN='https://code.jquery.com/ui/1.11.1' %}
<link rel="stylesheet" type="text/css" href="{{CDN}}/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{CDN}}/jquery-ui.min.js"></script>
{% endwith %}
<script src="{% static 'admin/js/_djangoAjaxInit.js' %}"></script>
<script src="{% static 'admin/js/libs/esrever/src/esrever.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-core.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-classapplier.js' %}"></script>
<script src="{% static 'admin/js/libs/rangy/lib/rangy-textrange.js' %}"></script>
<script src="{% static 'admin/js/libs/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'admin/js/libs/tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'admin/js/tinymce_opts.js' %}"></script>
<script src="{% static 'admin/js/document_preview.js' %}"></script>
<style>
    #format_toolbar {
        position: fixed;
        top: 0; right: 0;
        width: 270px;
    }
    #format_toolbar { opacity: 0.4; }
    #format_toolbar:hover { opacity: 1; }
</style>
{% endblock %}
{% block preview_hidden %}
{% load mptt_tags %}
{% load wysiweb_filters %}
{% recursetree document.elements.all %}
<input type="hidden" value="{{ node.text }}"
    id="{{ node|elemid }}-text">
{% if not node.is_leaf_node %}
{{ children }}
{% endif %}
{% endrecursetree %}
<div id="format_toolbar"></div>
{% endblock %}
