{% load wysiweb_filters %}
{% with e=element %}
<div id="{{ e|elemid }}" class="carousel slide{% if e.classes %} {{ e.classes|join:' ' }}{% endif %}" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for i in 0|range_to:e.slides %}
    <li data-target="#{{ e|elemid }}" data-slide-to="{{ i }}"{% if forloop.first %} class="active"{% endif %}>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for i in 0|range_to:e.slides %}
    <div class="item{% if forloop.first %} active{% endif %}">
    </div>{# .item #}
    {% endfor %}
  </div>{# .carousel-inner #}
  <a href="#{{ e|elemid }}" role="button" class="left carousel-control"
    data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="#{{ e|elemid }}" role="button" class="right carousel-control"
    data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
{% endwith %}
